useDynLib(lvoxR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
exportPattern("^[[:alpha:]]+")
S3method(print, LVoxGrid)
S3method(as.matrix, LVoxGrid)
S3method(print, LVoxHeightProfile)
S3method(plot, LVoxHeightProfile)
